@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans"), local("OpenSans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Gilroy Extra Bold"), local("Gilroy-Extra-Bold"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;

  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-pink: #f6dada;
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-style: normal;

  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1040px;
  margin: 0 auto;
  padding: 0 60px;
}

.button {
  display: inline-block;

  box-sizing: border-box;
  width: 220px;
  height: 40px;
  margin-top: 45px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 800;

  color: var(--basic-black);

  letter-spacing: 0.2em;
  text-transform: uppercase;

  background: linear-gradient(to bottom,transparent 16px,var(--special-yellow-dark) 16px,var(--special-yellow-dark) 24px,transparent 17px);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--special-yellow-dark);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header {
  position: relative;

  box-sizing: border-box;
  width: 1160px;
  min-height: 300px;
  margin-top: 40px;
  padding-bottom: 150px;
  
  background-color: var(--special-yellow);
}

.main-header::after {
  content: "";

  position: absolute;
  width: 100px;
  height: 7px;
  bottom: 88px;
  right: 460px;

  background-color: var(--basic-white);
}

.main-navigation {
  display: grid;
}

.main-header-logo {
  margin-top: -20px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.user-navigation  {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  margin: 0;
  padding: 0;
  margin-top: 24px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  list-style: none;
}

.user-navigation-item {
  margin: 0 35px;
}

.user-navigation-item:hover,
.user-navigation-item:focus {
  opacity: 0.6;
}

.user-navigation-item:active {
  opacity: 0.3;
}

.user-navigation-search-form {
  position: relative;
  min-width: 440px;
  margin-left: 0;

  color: var(--basic-black);
}


.user-navigation-search-form:hover {
  opacity: 1;
}

.user-navigation-search-form label::before {
  content: "";

  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;

  background-color: transparent;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
}

.user-navigation-search-form input {
  width: 358px;
  padding-left: 39px;
  padding-bottom: 14px;
  
  background-color: transparent;
  border: none;
}

input::placeholder {
  color: var(--basic-black);
  opacity: 0.3;
}

.user-navigation-search-form:hover input::placeholder {
  opacity: 0.6;
}

.user-navigation-search-form input:focus {
  outline: none;
  border-bottom: 2px solid var(--basic-black);
}

.user-navigation-search-form input[type='search']::-webkit-search-decoration, 
.user-navigation-search-form input[type='search']::-webkit-search-cancel-button, 
.user-navigation-search-form input[type='search']::-webkit-search-results-button, 
.user-navigation-search-form input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.user-navigation-search-form button {
  display: none;
  width: 84px;
  height: 50px;
  margin: 0;
  padding: 0;
  margin-left: -5px;
  margin-top: -15px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  color: var(--basic-black);
  background-color: transparent;
  border-radius: 0;
  border: 2px solid var(--basic-black);
}

.user-navigation-search-form input:focus + .user-search-button {
  display: inline-block;
}

.user-navigation-search-form:focus-within > .user-search-button {
  display: inline-block;
 }

.user-navigation-search-form button:hover,
.user-navigation-search-form button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
  outline: none;
}

.user-navigation-search-form button:active {
  color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
  outline: none;
}

.user-navigation-login-link {
  position: relative;

  padding-left: 25px;
  margin-left: 64px;
}

.user-navigation-login-link::before {
  content: "";

  position: absolute;
  width: 13px;
  height: 14px;
  top: 4px;
  left: 1px;

  background-image: url(../img/icon-user-black.svg);
  background-repeat: no-repeat;
}

.user-navigation-logout {
  opacity: 0.3;
}

.user-navigation-compare {
  margin-left: auto;
}

.user-navigation-compare-link {
  position: relative;

  margin-right: 30px;
  margin-left: 0;
  padding-left: 35px;
}

.user-navigation-compare-link::before {
  content: "";

  position: absolute;
  width: 14px;
  height: 14px;
  top: 4px;
  left: 9px;

  background-image: url(../img/icon-compare-black.svg);
  background-repeat: no-repeat;
}

.user-navigation-cart-link {
  position: relative;

  margin: 0;
  padding-left: 35px;
}

.user-navigation-cart-link::before {
  content: "";

  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  left: 13px;

  background-image: url(../img/icon-cart-black.svg);
  background-repeat: no-repeat;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 37px;

  text-transform: uppercase;
  letter-spacing: 0.2em;

  list-style: none;
}

.site-navigation-catalog {
  position: relative;

  padding-right: 38px;

  letter-spacing: 0.2em;
}

.site-navigation-catalog::after {
  content: "";

  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  right: 3px;

  background-image: url(../img/icon-plus.svg);
  background-repeat: no-repeat;
}

.site-navigation-delivery {
  margin-left: auto;
  margin-right: 35px;
}

.site-navigation-warranty {
  margin-right: 108px;
}

.site-navigation-contacts {
  margin-right: -4px;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  opacity: 0.6;
}

.site-navigation-link:active {
  opacity: 0.3;
}

.site-navigation-link:hover::after,
.site-navigation-link:focus::after {
  opacity: 1;
}

.site-sub-navigation {
  display: none;

  font-family: "Open Sans", Arial, sans-serif;
  text-transform: none;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  list-style: none;
}

.site-sub-navigation-link:hover,
.site-sub-navigation-link:focus {
  opacity: 0.6;
}

.site-sub-navigation-link:active {
  opacity: 0.3;
}

.promo-slider {
  position: relative;
  min-height: 485px;
  margin-top: -130px;
  z-index: 1;
}

.promo-slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slider-item {
  display: none;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.promo-slider-item-active {
  display: grid;
}

.promo-slider-item-1 .promo-slider-image {
  margin-left: 30px;
}

.promo-slider-heading {
  display: block;
  margin-top: 93px;
  padding-right: 110px;

  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.promo-slider-text {
  margin-top: 27px;
  padding-right: 28px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.promo-slider-details {
  margin-top: 36px;
  padding-left: 6px;
}

.promo-slider-info {
  margin-top: 49px;
}

.promo-slider-info-heading {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
}

.promo-slider-info-description {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.goods-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.goods-image-wrapper {
  background-color: var(--special-yellow);
}

.goods-text {
  letter-spacing: 0.05em;
}

.goods-link:active > .goods-text {
  opacity: 0.3;
}

.services {
  background-color: var(--basic-grey-light);
}

.services-wrapper {
  display: grid;
  grid-template-columns: 277px 1fr;
  column-gap: 7px;
}

.services-slider-controls {
  list-style: none;
}

.services-slider-controls .button-active {
  color: var(--special-yellow);

  background-color: var(--basic-black);
}

.services-slider-controls .button:active {
  color: var(--special-yellow);

  background-color: var(--basic-black);
}

.services-slider-list {
  list-style: none;
}

.services-slider-item-title {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services-slider-item-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.brands-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-image {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.25;
}

.brands-image:hover,
.brands-image:focus,
.brands-image:active {
  filter: none;
  opacity: 1;
}

.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.about-us-heading {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-us-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.about-us-delivery-list {
  font-size: 16px;
  line-height: 28px;

  list-style: none;
}

.contacts-heading {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts-text{
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.page-footer {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 360px 1fr 360px;
  grid-template-rows: 130px 1fr 130px;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-user-list {
  grid-column: 3 / -1;
  list-style: none;
}

.footer-user-link {
  color: var(--basic-white);
  opacity: 0.7;
}

.footer-user-link:hover,
.footer-user-link:focus {
  opacity: 1;
}

.footer-user-link:active {
  opacity: 0.3;
}

.footer-services-list {
  list-style: none;
}

.footer-services-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: var(--basic-white);
}

.footer-services-link:hover,
.footer-services-link:focus {
  opacity: 0.6;
}

.footer-services-link:active {
  opacity: 0.3;
}

.footer-phone-number {
  text-align: right;
}

.footer-social-list {
  grid-column: 2 / 3;
  list-style: none;
}

.footer-social-link {
  opacity: 0.3;
}

.footer-social-link:hover,
.footer-social-link:focus {
  opacity: 0.6;
}

.footer-social-link:active {
  opacity: 0.1;
}

.footer-copyright:hover,
.footer-copyright:focus {
  opacity: 0.6;
}

.footer-copyright:active {
  opacity: 0.3;
}

.page-catalog {
  display: grid;
  grid-template-columns: 1fr 328px 832px 1fr;
  grid-template-areas:
    ". header header ."
    ". breadcrumbs breadcrumbs ."
    "filter filter sort sort"
    "filter filter catalog .";
}

.inner-page h1 {
  grid-area: header;
  margin-left: 60px;

  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
}

.breadcrumbs-list {
  grid-area: breadcrumbs;

  margin: 0;
  padding: 0;
  margin-bottom: 49px;
  margin-left: 60px;

  list-style: none;
}

.breadcrumbs-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;

  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.1;
}

.filter {
  grid-area: filter;

  background-color: var(--basic-grey-light);
}

.filter h2 {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  background: #DCDCDC;
}

.sort {
  grid-area: sort;

  background-color: var(--basic-grey-light);
}

.sort h2 {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-item {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;

  color: var(--basic-black);
  opacity: 0.3;
}

.sort-item:hover,
.sort-item:focus {
  opacity: 0.6;
}

.sort-item:active {
  opacity: 1;
}

.sort-list-correct,
.sort-list-correct:hover,
.sort-list-correct:focus,
.sort-list-correct:active {
  opacity: 1;
}

.sort-list-direction {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog {
  grid-area: catalog;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.mark-new {
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;

  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;

  color: var(--basic-black);
}

.catalog-item-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;

  color: var(--basic-black);
}

.catalog-to-compare {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;

  letter-spacing: 0.1em;

  color: var(--basic-black);
  opacity: 0.5;
}

.catalog-to-compare:hover,
.catalog-to-compare:focus {
  opacity: 1;
}

.catalog-to-compare:active {
  opacity: 0.2;
}

.catalog-pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  background: #EBEBEB;
}

.pagination-back:hover,
.pagination-back:focus {
  background: #D9D9D9;
}

.pagination-back:active {
  color: rgba(0, 0, 0, 0.3);

  background: #D9D9D9;
}

.pagination-next:hover,
.pagination-next:focus {
  background: #D9D9D9;
}

.pagination-next:active {
  color: rgba(0, 0, 0, 0.3);

  background: #D9D9D9;
}

.pagination-page {
  opacity: 0.3;
}

.pagination-page:hover,
.pagination-page:focus {
  opacity: 0.6;
}

.pagination-page:active {
  opacity: 1;
}

.pagination-page-active {
  opacity: 1;
}

.pagination-page-active:hover,
.pagination-page-active:focus {
  opacity: 1;
}
