@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans"), local("OpenSans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Gilroy Extra Bold"), local("Gilroy-Extra-Bold"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;

  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-pink: #f6dada;
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-style: normal;

  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;

  color: var(--basic-black);

  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: var(--special-yellow-dark);
  border: none;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  background-color: var(--special-yellow);
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.user-navigation  {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  list-style: none;
}

.user-navigation-item:hover,
.user-navigation-item:focus {
  opacity: 0.6;
}

.user-navigation-item:active {
  opacity: 0.3;
}

.user-navigation-search {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-search:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation-search:focus {
  color: var(--basic-black);
}

.user-navigation-logout {
  opacity: 0.3;
}

.site-navigation {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  
  list-style: none;
}

.site-navigation-catalog {
  letter-spacing: 0.1em;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  opacity: 0.6;
}

.site-navigation-link:active {
  opacity: 0.3;
}

.site-sub-navigation {
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: none;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  list-style: none;
}

.site-sub-navigation-link:hover,
.site-sub-navigation-link:focus {
  opacity: 0.6;
}

.site-sub-navigation-link:active {
  opacity: 0.3;
}

.promo-slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slider-heading {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.promo-slider-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.promo-slider-info-heading {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
}

.promo-slider-info-description {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.goods-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.goods-text {
  letter-spacing: 0.05em;
}

.goods-link:active > .goods-text {
  opacity: 0.3;
}

.services {
  background-color: var(--basic-grey-light);
}

.services-slider-controls {
  list-style: none;
}

.services-slider-controls .button-active {
  color: var(--special-yellow);

  background-color: var(--basic-black);
}

.services-slider-controls .button:active {
  color: var(--special-yellow);

  background-color: var(--basic-black);
}

.services-slider-list {
  list-style: none;
}

.services-slider-item-title {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services-slider-item-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.brands-list {
  list-style: none;
}

.brands-image {
  filter: grayscale(100%);
  opacity: 0.25;
}

.brands-image:hover,
.brands-image:focus,
.brands-image:active {
  filter: none;
  opacity: 1;
}

.about-us-heading {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-us-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.about-us-delivery-list {
  font-size: 16px;
  line-height: 28px;

  list-style: none;
}

.contacts-heading {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts-text{
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.page-footer {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-user-list {
  list-style: none;
}

.footer-user-link {
  color: var(--basic-white);
  opacity: 0.7;
}

.footer-user-link:hover,
.footer-user-link:focus {
  opacity: 1;
}

.footer-user-link:active {
  opacity: 0.3;
}

.footer-services-list {
  list-style: none;
}

.footer-services-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: var(--basic-white);
}

.footer-services-link:hover,
.footer-services-link:focus {
  opacity: 0.6;
}

.footer-services-link:active {
  opacity: 0.3;
}

.footer-social-list {
  list-style: none;
}

.footer-social-link {
  opacity: 0.3;
}

.footer-social-link:hover,
.footer-social-link:focus {
  opacity: 0.6;
}

.footer-social-link:active {
  opacity: 0.1;
}

.footer-copyright:hover,
.footer-copyright:focus {
  opacity: 0.6;
}

.footer-copyright:active {
  opacity: 0.3;
}

.inner-page h1 {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;

  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.1;
}

.filter h2 {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  background: #DCDCDC;
}

.sort {
  background-color: var(--basic-grey-light);
}

.sort h2 {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-item {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;

  color: var(--basic-black);
  opacity: 0.3;
}

.sort-item:hover,
.sort-item:focus {
  opacity: 0.6;
}

.sort-item:active {
  opacity: 1;
}

.sort-list-correct,
.sort-list-correct:hover,
.sort-list-correct:focus,
.sort-list-correct:active {
  opacity: 1;
}

.sort-list-direction {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.mark-new {
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;

  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;

  color: var(--basic-black);
}

.catalog-item-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;

  color: var(--basic-black);
}

.catalog-to-compare {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;

  letter-spacing: 0.1em;

  color: var(--basic-black);
  opacity: 0.5;
}

.catalog-to-compare:hover,
.catalog-to-compare:focus {
  opacity: 1;
}

.catalog-to-compare:active {
  opacity: 0.2;
}

.catalog-pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  background: #EBEBEB;
}

.pagination-back:hover,
.pagination-back:focus {
  background: #D9D9D9;
}

.pagination-back:active {
  color: rgba(0, 0, 0, 0.3);

  background: #D9D9D9;
}

.pagination-next:hover,
.pagination-next:focus {
  background: #D9D9D9;
}

.pagination-next:active {
  color: rgba(0, 0, 0, 0.3);
  
  background: #D9D9D9;
}

.pagination-page {
  opacity: 0.3;
}

.pagination-page:hover,
.pagination-page:focus {
  opacity: 0.6;
}

.pagination-page:active {
  opacity: 1;
}

.pagination-page-active {
  opacity: 1;
}

.pagination-page-active:hover,
.pagination-page-active:focus {
  opacity: 1;
}
